.card-poster.card-poster {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #f3f4f6;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
}

#poster-preview {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
}

.poster-area {
    position: relative;
    overflow: hidden;
}

.input-uppercase {
    text-transform: uppercase;
}

.input-icon-group {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 42px;
}

.input-icon-group input {
    border: none !important;
    box-shadow: none !important;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    flex-grow: 1;
}

.input-icon-group a {
    flex-shrink: 0;
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}